@tailwind base;
@tailwind components;
@tailwind utilities;

/* Özel font aileleri */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Inter:wght@400;600;700&family=Playfair+Display:wght@400;700&display=swap");

/* Temel font ayarları */
body {
  @apply font-sans;
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  letter-spacing: -0.01em;
}
.menu,
.btn,
nav {
  font-family: "Montserrat", "Inter", Arial, sans-serif;
  font-weight: 600;
}
:root {
  --crumble-400: #283618;
  --crumble-100: #d6cfa3;
}

.nav-link {
  color: var(--crumble-400);
  font-weight: 600;
  transition: color 0.2s;
}

.nav-link:hover,
.nav-link.active {
  color: var(--crumble-100);
}
